/.idea
/again.py
/azeez.py
/banky.py
/chessboard.css
/chessboard.html
/Contact page.html
/content
/for correction.html
/form.html
/freestyle.html
/html and css webpage.css
/html and css webpage.html
/HTML Semantic.html
/images
/index.html
/Login.html
/main.css
/paper.py
/pig.py
/Registration.html
/rock.py
/rock_paper_scissors.py
/single page.html
/sli.py
/stat.py
/style.css
/Table of content.html
/Table-task.html
/Table.html
/tableform.html
/Tribute.html
/try_page.py
/wwww.html
/yts.py
/__pycache__